<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/Design/css/style.css">
    <link rel="stylesheet" href="~/Design/css/Style2.css">
  
    @Scripts.Render("~/bundles/modernizr")
   
   
    
</head>
<body>

    <div>
        @RenderBody()
    </div>

    @Scripts.Render("~/Design/js/jquery")
    @Scripts.Render("~/ajax")
  
    

</body>
</html>
