
@{
    ViewBag.Title = "HomePage";
}

<h1>HomePage</h1>
<h1>@ViewBag.firstName</h1>
<h1>@ViewBag.lastName</h1>
<h1>@ViewBag.userName</h1>
<h1>@ViewBag.email</h1>
<h1>@ViewBag.password</h1>
<h1>@ViewBag.birthDay</h1>
<h1>@ViewBag.ActivationCode</h1>
<h1>@ViewBag.isEmailActive</h1>

<h1>
    <a href="/Users/Logout" style="color:red">Logout</a>
</h1>
           